[submodule "withous_catkin/Pangolin"]
	path = withous_catkin/Pangolin
	url = https://github.com/stevenlovegrove/Pangolin.git
	branch = pangolin_updates
[submodule "withous_catkin/orb_slam_ros"]
	path = withous_catkin/orb_slam_ros
	url = https://github.com/Dokirobot-autonomous/orb_slam_ros.git
[submodule "withous_catkin/limo/src/feature_tracking"]
	path = withous_catkin/limo/src/feature_tracking
	url = https://github.com/KIT-MRT/feature_tracking.git
[submodule "withous_catkin/limo/src/mono_lidar_depth"]
	path = withous_catkin/limo/src/mono_lidar_depth
	url = https://github.com/johannes-graeter/mono_lidar_depth.git
[submodule "withous_catkin/limo/src/viso2"]
	path = withous_catkin/limo/src/viso2
	url = https://github.com/KIT-MRT/viso2.git
[submodule "withous_catkin/limo/src/mrt_cmake_modules"]
	path = withous_catkin/limo/src/mrt_cmake_modules
	url = https://github.com/KIT-MRT/mrt_cmake_modules.git
[submodule "withous_catkin/limo/src/rosinterface_handler"]
	path = withous_catkin/limo/src/rosinterface_handler
	url = https://github.com/KIT-MRT/rosinterface_handler.git
[submodule "withous_catkin/limo/src/limo"]
	path = withous_catkin/limo/src/limo
	url = https://github.com/Dokirobot-autonomous/limo.git
[submodule "catkin_ws/src/packages/sptam"]
	path = catkin_ws/src/packages/sptam
	url = https://github.com/Dokirobot-autonomous/sptam.git
[submodule "catkin_ws/src/lib/ros-utils"]
	path = catkin_ws/src/lib/ros-utils
	url = https://github.com/lrse/ros-utils.git
